@model ListingTodos.Models.TodoViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Active Todos</title>
</head>
<body>
<h1>Todos for today:</h1>
<a href="list">View all todos</a><br/>
<a href="todo/add">Add new todo</a><br/>

<table>
    <tr>
        <th>ID:</th>
        <th>Title:</th>
        <th>Done:</th>
        <th>Urgent:</th>
    </tr>
    
    @foreach (var todo in @Model.AllTodos)
    {
        <tr>
            <td>@todo.Id</td>
            <td>@todo.Title</td>
            <td>@todo.IsDone</td>
            <td>@todo.IsUrgent</td>
        </tr>
    }
</table>
</body>
</html>