@using ListingTodos.Models.Entities
@using Microsoft.AspNetCore.Identity
@model ListingTodos.Models.TodoViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Edit Todo</title>
</head>
<body>
<h1>Edit todo:</h1>

@using (Html.BeginForm("EditTodo", "Todo", FormMethod.Post, new { todoId = Model.Todo.Id}))
{
    @Html.LabelFor(model => model.Todo.Title, "Title");<br/>
    @Html.TextBoxFor(model => model.Todo.Title);<br/>
    
    @Html.LabelFor(model => model.Todo.Description, "Description");<br/>
    @Html.TextBoxFor(model => model.Todo.Description);<br/>
    
    @Html.LabelFor(model => model.Todo.IsUrgent, "Urgent");<br/>
    @Html.CheckBoxFor(model => model.Todo.IsUrgent);<br/>
    
    @Html.LabelFor(model => model.Todo.Description, "Done");<br/>
    @Html.CheckBoxFor(model => model.Todo.IsDone);<br/>
    
    <label>Assignee:</label>
    <select name="assigneeID">
        @foreach (var item in Model.AllAssignees)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select><br/>
    
    <label for="dueDate">Choose due date:</label>
    <input type="date" id="dueDate" name="dueDate" value=""><br/>

    <button type="submit">Submit</button>
    @Html.ActionLink("Cancel", "ListALl", "Todo")
}

@Html.ActionLink("View all todos", "ListALl", "Todo")<br/>
@Html.ActionLink("View active todos", "ListActive", "Todo")
</body>
</html>