@using System.Threading
@model FoxClub.Services.FoxService
<!DOCTYPE html>

<html>
<head>
    <title>Fox Club</title>
</head>
<body>
<ul>
    <li><a href="#">Information</a></li>
</ul>
<img src="assets/greenfox.png" alt="Green Fox logo">
<p>This is @Model.LoggedFox.Name. Currently living on @Model.LoggedFox.Food and @Model.LoggedFox.Drink. He knows @Model.LoggedFox.Tricks.Count
    tricks.</p>
<h1>Known Tricks</h1>
@if (@Model.LoggedFox.Tricks.Count == 0)
    {
        <p>You can't do any tricks yet. Go learn some!</p>
    }else
    {
        <ul>
        @foreach (var trick in @Model.LoggedFox.Tricks)
        {
            <li>@trick</li>
        };
        </ul>
    }

<a href="login">Login</a><br/>
<a href="store">Store</a>
</body>
</html>