@* @model Reddit.ViewModels.PostViewModel *@
@model cloudscribe.Pagination.Models.PagedResult<Reddit.Models.Entities.Post>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, cloudscribe.Web.Pagination

<html>
<head>
    <title>Reddit</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body >


<div class="container-sm">
    @Html.ActionLink("Add new post", "Add", "Post")<br/>
    @Html.ActionLink("Login", "UserLogin", "User")
    <h1 class="text-center">Trending Posts</h1>
    <p>Reddit Search:</p>
    <form method="get" action="search">
        @* <input type="text" id="post" name="post" placeholder="Search post..."> *@
        @* <input type="submit" value="Search" class="btn btn-danger"> *@
        <div class="input-group input-group-sm mb-3">
            <input type="text" id="post" name="post" class="form-control" placeholder="Search post..." aria-label="Reddit Search" aria-describedby="button-addon2">
            <button class="btn btn btn-danger" type="submit" id="button-addon2" value="Search">Search</button>
        </div>
    </form>

    <table class="table table-striped">
        @foreach (var post in @Model.Data)
        {
            <tr>
                <td>@post.NumberOfVotes</td>
                <td><a href="@post.Id/voteup">+</a></td>
                <td><a href="@post.Id/votedown">-</a></td>
                <td><a href="@post.PostURL" target="_blank">@post.PostTitle</a></td>
                <td>@post.CreatedAt</td>
            </tr>
        }
    </table>
    <cs-pager cs-paging-pagenumber="Model.PageNumber"
              cs-paging-totalitems="Model.TotalItems"
              cs-paging-pagesize="Model.PageSize"
              cs-pagenumber-param="pagenumber"
              asp-controller="Post"
              asp-action="ListAll"
              cs-pager-li-current-class="page-item active"
              cs-pager-li-other-class="page-item"
              cs-pager-li-non-active-class="page-item disabled"
              cs-pager-link-current-class="page-link"
              cs-pager-link-other-class="page-link">
    </cs-pager>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>